= render "partials/header"
.well
  .ribbon
    .ribbon-stitches-top
    %strong.ribbon-content
      %h1 Login
    .ribbon-stitches-bottom
  %hr
  .row-fluid
    .span4
      %img{src: "http://placehold.it/250x500&text=Kewl Image"}/
    .span8
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .row-fluid
          .span3
            %b
              %i.fa.fa-envelope
              Email:
          .span9
            = f.input :email, :required => false, :autofocus => true, :class => "input-xlarge"
          %p.help-block Type in your awesome email
        %hr
        .row-fluid
          .span3
            %b
              %i.fa.fa-lock
                Password:
          .span9
            = f.input :password, :required => false, :class => "input-xlarge"
          %p.help-block Hide your password well!
          %hr/
          = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
        .row-fluid
          .span6
            %img{src: "http://placehold.it/300x80&text=Facebook Login"}
          .span6
            %img{src: "http://placehold.it/300x80&text=Twitter Login"}
        .row-fluid
          .span12.form-actions
            = f.button :submit, "Login", :class => "btn btn-primary btn-block"
      = render "devise/shared/links"
= render "partials/footer"